.team
{
text-align: center;
display: flex;
flex-direction: column;
margin: auto;

  &__content
  {
    background-image: url("../img/team_bg.jpg");
    background-position: -190px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 422px;
    display: flex;
    flex-direction: column;
  }


  &__title
  {
    font-family: Futura;
    font-size: 20px;
  }

  &__descr
  {
    display: none;
  }

  .btn--sm
  {

    position: relative;
    bottom: 0;
    width: 225px;
    margin: 0 auto;
    margin-top: 360px;
  }
}

@media (min-width: 768px)
{
  .team
  {
    &__descr
    {
      display: inline-block;
      font-size: 15px;
      font-family: 'PT Sans', sans-serif;
      width: 580px;
      text-align: center;
      margin: auto;
      margin-top: 430px;
    }

    &__content
    {
      background-position: -100px 0;
      height: 595px;
    }

    .btn--sm
    {
      margin: 0 auto;
    }
  }

}

@media (min-width: 1170px)
{
  .team
  {
    &__descr
    {
      width: 760px;
    }

    &__content
    {
      background-position: 0 0;
    }
  }
}
