@screen-sm 320px;
@screen-md 768px;
@screen-lg 1170px;
@font-face {
  font-family: "Futura";
  src: url("../fonts/FUTURABOLD.TTF") format("truetype");
  font-style: bold;
  font-weight: 600; }

body {
  margin: 0; }

/*ICON*/
.icon {
  background: url(http://www.picshare.ru/uploads/180310/PfLBNUKZ6m.png) no-repeat 0 0;
  /*width: 35px;
  height: 25px;*/
  display: inline-block;
  vertical-align: middle; }

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.youTube {
  display: block;
  width: 32px;
  height: 32px;
  background-position: -341px -10px; }

.instagram {
  display: block;
  width: 32px;
  height: 32px;
  background-position: -341px -62px; }

.facebook {
  display: block;
  width: 18px;
  height: 33px;
  background-position: -341px -114px; }

.vk {
  display: block;
  width: 40px;
  height: 24px;
  background-position: -67px -303px; }

.btn {
  display: inline-block;
  float: left;
  width: 135px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #000;
  text-decoration: none;
  color: #74e196; }

/*CONTAINER*/
@media (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto; } }

.highlighter {
  color: #74e196; }

ul {
  padding: 0;
  margin: 0; }

@media (min-width: 320px) {
  .promo {
    display: none; } }

.header {
  padding: 35px 0;
  font-family: Futura; }

@media (min-width: 320px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15px; }
  .main-nav {
    width: 320px;
    margin-top: 18px;
    text-align: center; }
    .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .main-nav__item {
      display: inline-block;
      margin: 0 10px;
      border-bottom: 1px solid #74e196; }
    .main-nav__link {
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      color: #000; }
  .logo {
    width: 47px;
    margin: 0;
    padding-left: 22px; }
    .logo__header {
      display: block;
      width: 47px;
      height: 9px;
      background-position: -161px -221px; }
  .contacts {
    width: 195px;
    margin: auto; }
    .contacts__phone {
      font-size: 22px;
      font-weight: 700;
      text-decoration: none;
      color: #000; }
    .contacts__email {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: #000; }
  .btn {
    color: #000;
    border: 2px solid #74e196; }
  .social-networks {
    width: 192px;
    margin-top: 20px; } }

.contacts:after {
  content: '';
  clear: both;
  display: block; }

@media (min-width: 320px) {
  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .services__title {
    font-family: Futura;
    font-size: 24px;
    text-align: center; }
  .services__description {
    font-family: Futura;
    font-size: 10px;
    text-align: center; }
  .service {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .service__title {
      font-family: Futura;
      font-size: 20px;
      text-align: left;
      background: url("../img/item1.jpg") no-repeat 0 0;
      color: #fff; }
    .service__description {
      display: none; }
    .service__links {
      display: block; }
    .service__link {
      display: none; }
    .service__img {
      width: 37px;
      height: 27px;
      background-position: -114px -261px;
      float: right; }
    .service__photo {
      display: none; }
    .service--horizontal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

/*.service--horizontal {
  display: flex;
  flex-direction: row;
}*/
/*.service__photo {
  width: 360px;
  height: 245px;
}*/
.service__description {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px; }

.service__links {
  display: block; }

.service__link {
  font-family: Futura;
  font-size: 20px; }

.service__link:after {
  content: '';
  float: right;
  background-position: -10px -261px;
  width: 35px;
  height: 25px; }

@media (min-width: 320px) {
  .advantage {
    width: 100%; }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Futura; }
    .advantages__info:before {
      content: '';
      display: inline-block;
      width: 55px;
      height: 20px;
      background-position: -10px -10px; }
    .advantages__title {
      font-size: 24px;
      text-align: center; }
    .advantages__cathphrase {
      font-size: 14px;
      font-weight: bold; }
    .advantages__descr {
      font-family: 'PT Sans', sans-serif;
      font-size: 12px; }
    .advantages__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

@media (min-width: 320px) {
  .btn--md {
    display: none; }
  .sales {
    background-image: url("../img/sales_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 362px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Futura;
    text-align: center; }
    .sales__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 205px;
      margin: auto; }
    .sales__info--md {
      display: none; }
    .sales__title {
      font-size: 24px; }
    .sales__cathphrase {
      font-size: 22px; }
    .sales__descr {
      font-size: 20px; } }

@media (min-width: 320px) {
  .team {
    background-image: url("../img/team_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 422px;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .team__title {
      font-family: Futura;
      font-size: 20px; }
    .team__descr {
      display: none; }
    .team .btn--sm {
      color: #74e196;
      border-color: #000;
      width: 225px; } }

@media (min-width: 320px) {
  .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .community__title {
      font-family: Futura;
      font-size: 24px; }
    .community__descr {
      font-family: 'PT Sans', sans-serif;
      font-size: 12px; } }

.images__title {
  text-align: center;
  font-family: Futura;
  font-weight: bold; }

@media (min-width: 320px) {
  .images__title {
    font-size: 24px;
    /*font-style: bold;*/ }
  .images__photo {
    display: none; } }

@media (min-width: 320px) {
  footer {
    background-image: url("../img/footer_bg_320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 303px; }
  .logo__footer {
    display: block;
    width: 65px;
    height: 22px;
    background-position: -10px -261px; } }
