@import 'var.scss';

@import '../blocks/promo/promo.scss';
@import '../blocks/header/header.scss';
@import '../blocks/services/services.scss';

@font-face {
  font-family: "Futura";
  src: url("../fonts/FUTURABOLD.TTF") format("truetype");
  font-style: bold;
  font-weight: 600;
}

body {
  margin: 0;
}
// /*ICON*/
// .icon {
//   background: url(http://www.picshare.ru/uploads/180309/IBy1A12TVO.png
//   ) no-repeat 0 0;
//   /*width: 35px;
//   height: 25px;*/
//   margin-right: 5px;
//   display: inline-belock;
//   vertical-align: middle;
// }

/*CONTAINER*/
.container {
  width: 1160px;
  margin: 0 auto;
}

.highlighter {
  color: #74e196;
}

ul {
  padding: 0;
  margin: 0;
}
