.community
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px auto;

  &__title
  {
    font-family: Futura;
    font-size: 24px;
  }

  &__descr
  {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding: 0 20px;
    margin: auto;
  }
}

@media (min-width: 768px)
{
  .community
  {
    &__descr
    {
      width: 540px;
    }
  }
}

@media (min-width: 1170px)
{
  .community
  {
    &__descr
    {
      width: 750px;
    }
  }
}