.header {
  padding: 35px 0;
  font-family: Futura; }

.logo {
  float: left;
  width: 160px; }
  .logo__img {
    display: block;
    width: 100%; }

.main-nav {
  float: left;
  width: 620px;
  margin-top: 18px;
  text-align: center; }
  .main-nav__item {
    display: inline-block;
    margin: 0 10px; }
  .main-nav__link {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none; }

.contacts {
  float: right;
  width: 380px; }
  .contacts__link {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none; }

.contacts:after {
  content: '';
  clear: both;
  display: block; }
