.header
{
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding:  0;
  font-family: Futura;
  height: 480px;
}

.main-nav
{
  width: 320px;
  margin-top: 18px;
  text-align: center;

  &__list
  {
    display: flex;
    flex-direction: column;
  }

  &__item
  {
    display: inline-block;
    // margin: 0;
    border-bottom: 1px solid #74e196;
  }

  &__topic
  {
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    margin: 15px auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
}

.logo
{
  // width: 47px;
  //height: 8px;
  // margin: 0;
  // position: absolute;
  top: 0;
  padding-top: 22px;
  padding-left: 22px;

  &__header
  {
    display: block;
    width: 47px;
    height: 9px;
    background-position: -161px -221px;
  }
}

.contacts
{
  width: 195px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__phone
  {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
  }

   &__email
   {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
  }
}

.social-networks
{
  display: flex;
  justify-content: space-between;
  //width: 192px;
  margin-top: 10px;
  margin-top: 20px;
}

.btn-book
{
  position: absolute;
  top: 0;
  margin-top: 370px;
  margin-left: 92px;
}

@media (min-width: 768px)
{

}

@media (min-width: 1170px)
{
  .header {
    display: flex;
    height: 646px;
  }

  // .youtube_sm,
  // .instagram_sm,
  // .facebook_sm
  // .vk_sm
  // {
  //   display: none;
  // }


}




// .contacts:after {
//   content: '';
//   clear: both;
//   display: block;
// }
