.header
{
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding:  0;
  font-family: Futura;
  height: 480px;
}

.main-nav
{
  width: 100%;
  text-align: center;

  &__list
  {
    display: flex;
    flex-direction: column;
  }

  &__item
  {
    display: inline-block;
    // margin: 0;
    border-bottom: 1px solid #74e196;
  }

  &__topic
  {
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    margin: 15px auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
}

.logo_min
{
  // width: 47px;
  //height: 8px;
  // margin: 0;
  // position: absolute;
  top: 0;
  margin-top: 22px;
  margin-left: 22px;
}

.contacts
{
  width: 195px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__phone
  {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

   &__email
   {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
}

.social-networks
{
  display: flex;
  justify-content: space-between;
  //width: 192px;
  margin-top: 20px;
}

.btn--header
{
  // position: absolute;
  // top: 0;
  margin-top: 35px;
  margin-left: 29.5px;
}

.btn--inv
{
  border: 2px solid #74e196;
  color: #000;
}

@media (min-width: 768px)
{

}

@media (min-width: 1170px)
{
  .logo
  {
    height: 55px;
  }

  .header
  {
    display: inline-block;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .main-nav
  {
    width: 555px;
    margin: 0;

    &__list
    {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 45px;
      margin-right: 45px;
    }

    &__item
    {
      border-bottom: none;
    }

  }

  .logo_min
  {
    display: none;
  }

  .contacts
  {
    margin: 0;
    display: inline-block;

    &__email
    {
      display: none;
    }

    &__phone
    {
      padding: 0;
    }
  }

  .social-networks
  {
    display: none;
  }

  .btn--header
  {
    display: inline-block;
    margin: 0;
  }

}




// .contacts:after {
//   content: '';
//   clear: both;
//   display: block;
// }
