@import '../../scss/var.scss';

.promo {

  background-image: url('../img/promo_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: #fff;
  height: 645px;

  &__title {
    font-family: Futura;
    font-size: 50px;
    width: 500px;
    padding: 100px 0 0 55px;
    margin: 0;
  }

  &__text {
    font-size: 38px;
    display: block;
    width: 370px;
    margin-top: 50px;
  }

   @media (min-width: screen-sm) {
    padding-top: 0;
  }
}