.advantage
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  &--loc
  {
    display: inline-block;
    margin: 0 auto;
  }

  &__info
  {
    width: 200px;
  }

  &__cathphrase
  {
    font-size: 14px;
    font-weight: bold;
  }

  &__descr
  {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
  }
}

.advantages
{
  font-family: Futura;
  // align-items: center;

  &--loc
  {
    display: block;
  }

  &__title
  {
    font-size: 24px;
    text-align: center;
  }

  &__content
  {
    // display: flex;
    // flex-wrap: wrap;
  }
}

@media (min-width: 768px)
{
  .advantages
  {
    align-items: stretch;
    &__content
    {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-between;
      width: 740px;
    }


    &--loc
    {
      margin: auto;

    }
  }

  .advantage
  {
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 170px;



    &__cathphrase
    {
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

 @media (min-width: 1170px)
{
  .advantages
  {
    &__content
    {
      width: 1140px;
    }
  }

  .advantage
  {
    &__info
    {
      width: 100%;
    }
  }
}


