@media (min-width: 320px)
{
  .btn--md
  {
    display: none;
  }
  .sales
  {
    background-image: url("../img/sales_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 362px;
    //background-size: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;


    font-family: Futura;
    text-align: center;

    &__content
    {
      display: flex;
      width: 205px;
      margin: auto;
    }

    &__info--md
    {
      display: none;
    }

    // &__content@first_child({})
    // {
    //   //display: flex;
    //   display: none;
    // }

    &__title
    {
      font-size: 24px;
    }

    &__cathphrase
    {
      font-size: 22px;
    }

    &__descr
    {
      font-size: 20px;
    }
  }
}

// .sales {
//   background-image: url("../img/sales_bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   color: #fff;
//   display: flex;
//   flex-direction: column;
// }

// .sales__content {
//   display: flex;
// }

// .sales__title {
//   font-family: Futura;
//   font-size: 40px;
// }

// .sales__cathphrase {
//   font-family: Futura;
//   font-size: 22px;
// }

// .sales__descr {
//   font-family: Futura;
//   font-size: 20px;
// }