@media (min-width: 320px) {
  footer {
    background-image: url('../img/footer_bg_320.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    // width: 320px;
    height: 303px;
  }

  .logo__footer {
  display: block;
  width: 65px;
  height: 22px;
  background-position: -10px -261px;
}

}

// @media (min-width: 1170px) {
//   footer {
//     background-image: url("../img/footer_bg.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     /*margin: 0;
//     color: #fff;
//     height: 645px;*/
//   }
// }